.gitignore

.DS_Store 
.github
.vscode

# Compiled python files
__pycache__/
*.pyc

# Cached templates (iron/balmer/host)
.cache/

# Files under development
pl_wiggle.py

# pytest
.pytest_cache/
*.ipynb
*.egg-info

# cython
*.c
*.so
*.o
